/**
 * Size Utilities / It will be used for font-size, icons and others.
 * @xxs = 10
 * @xs = 11 // only font-size
 * @ss = 12
 * @sm = 14
 * @md = 16
 * @ml = 18
 * @lg = 20
 * @xl = 24
 * @xxxl = 30
 */
// これ以上増えそうであれば @2xlなど数字化する

/** 備考
$px-list: (
  px: 1,
  px2: 2,
  half: 4,
  base: 8
) !default;
*/

// map-get from sizes.scss
@function fs($size) {
  @return #{map-get($size-list, $size) + px};
}

// @mixin example fs($size: 16, 16px) {
@mixin fs($size, $height: auto) {
  @each $key, $value in $size-list {
    @if $size==$key {
      font-size: fs($key);
      // @if ($height==auto) {
      //   height: auto;
      // } @else {
      @if ($height==$key) {
        height: ($value) + px;
      } @else if($height==auto) {
        height: auto;
      } @else if($height) {
        height: ($height) + px;
      } @else {
        height: auto;
      }
    }
  }
}

// Add Class for HTML Utility
@each $key, $value in $size-list {
  .fs-#{$key} {
    @include fs($key, $value);
  }
}

// FIXME!: TODO: Width Utility

// Example
.fs-xl {
  @include fs(xxl);
}
.fs-xxl {
  @include fs(xxl, auto);
}
.fs-xxxl {
  @include fs(xxxl, xxxl);
}
.fs-balus {
  @include fs(balus, 115);
}

// @each $key, $value in $size-list {
//   .fs-#{$key} {
//     font-size: ($value / 16 * 0.75) + rem;
//     @media only screen and (min-width: 641px) {
//       font-size: $value + px;
//     }
//   }
// }

// global font-weight: bold = 600
@mixin fw-bold($fw: 600) {
  font-weight: $fw;
}

.cursor {
  &--pointer {
    cursor: pointer !important;
  }
}

.text-right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.b-disabled {
  opacity: 0.5;
  cursor: unset !important;
}

.cut-text {
  @include cut-text;
}
