@mixin cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


body {
  font-family: "noto-sans-cjk-jp", sans-serif;
  // for Chrome on Mac
  -webkit-font-smoothing: antialiased;
}

/**
 * Size Utilities / It will be used for font-size, spacong and others.
 * @xxs = 10 / *12px or more is desirable
 * @xs = 11 / *12px or more is desirable
 * @ss = 12
 * @sm = 14
 * @md = 16
 */

$size-list: (xxs: 10, xs: 11, ss: 12, sm: 14, md: 16) !default;
@function fs($font-size){
  @return #{map-get($size-list, $font-size) + px};
}

// Global Font Size Mixin for html/jsx
.fs-xxs { // 10px
  font-size: fs(xxs);
  letter-spacing: 0.16px;
}

.fs-xs { // 11px
  font-size: fs(xs);
  letter-spacing: 0.18px;
}

.fs-ss { // 12px
  font-size: fs(ss);
  letter-spacing: 0.19px;
}

.fs-sm { // 14px
  font-size: fs(sm);
  letter-spacing: 0.22px;
}

.fs-md { // 16px
  font-size: fs(md);
}

// Global Font Size Mixin for scss
// Example: @include fs(xs); = 11px
@mixin fs($size: 16) {
  @if $size==xxs {
    font-size: fs(xxs); // 10px
  } @else
  if $size==xs {
    font-size: fs(xs); // 11px
  } @else
  if $size==ss {
    font-size: fs(ss); // 12px
  } @else
  if $size==sm {
    font-size: fs(sm); // 14px
  } @else {
    font-size: fs(md); // 16px
  }
}

// global font-weight: bold = 600
@mixin fw-bold($fw: 600) {
  font-weight: $fw;
}

.cursor {
  &--pointer {
    cursor: pointer !important;
  }
}

.text-right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.b-disabled {
  opacity: .5;
  cursor: unset !important;
}

.cut-text {
  @include cut-text;
}
